{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>{{ board_object.name }}</h1>
    <p>{{ board_object.description|linebreaksbr }}</p>
    <a class="btn btn-primary" href="{% url 'board:create' board_pk=1 %}" role="button">작성하기</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
        </thead>
        <tbody>
            {% for post in object_list %}
            <tr>
                <th scope="row">{{ post.pk }}</th>
                <td>
                    <a href="{{ post.get_absolute_url }}">{{ post }}</a>
                </td>
                <td>{{ post.user }}</td>
                <td>{{ post.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ page }}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ board_object.get_absolute_url }}?page={{ page_obj.previous_page_number }}" aria-disabled="true">이전</a>
            </li>
            {% endif %}
            {% for page in paginator.page_range %}
                {% if page == page_obj.number %}
                <li class="page-item disabled">
                    <a class="page-link" tab-index="-1" aria-disabled="true">{{ page }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ board_object.get_absolute_url }}?page={{ page }}">{{ page }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ board_object.get_absolute_url }}?page={{ page_obj.next_page_number }}" aria-disabled="true">다음</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    Paginator!!
        

    {% endif %}
</div>
{% endblock content %}