<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block extra-header %}{% endblock extra-header %}
</head>
<body>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% block content %}{% endblock content %}
    {% block extra-script %}{% endblock extra-script %}
</body>
</html>